<main class="main">
  <section class="hero">
    <div class="hero__container">
      <h2 class="hero__title">📖 あなたの「積読」、読み終えるまで一緒に。</h2>
      <p class="hero__subtitle">stack→read(スタックリード)は<br>紙の本も電子書籍もまとめて管理できる<br>「積読解消 × 読書記録」アプリです</p>
      <div class="hero__cta">
        <a href="" class="hero__cta-button">今すぐ始める</a>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="features__container">
      <ul>
        <li>タイトル入力で、本の情報を自動取得📕（Google Books API連携） </li>
        <li>読書の進捗（未着手／読書中／読了など）を記録✍️</li>
        <li>読書メモをつけて、他のユーザーとシェア&非公開もOK🔐</li>
        <li>本の所持状態（持ってる／欲しい／手放した）を管理して在庫整理🗂️</li>
        <li>KindleやAudible、紙の本など…管理を楽にまとめましょう🎧📖</li>
      </ul>
    </div>
  </section>
</main>