<% content_for :title, "積読追加" %>

<div class="book-form-container">
  <main class="main-content">
    <div class="book-form-wrapper">
      <%= render 'form', book: @book, submit_text: '本を登録する' %>
    </div>
  </main>
</div> 